NEXT_PUBLIC_SUPABASE_URL=https://wopdxclmoplvvquzndei.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndvcGR4Y2xtb3BsdnZxdXpuZGVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDkzMjQ0NDUsImV4cCI6MjAyNDkwMDQ0NX0.1URmez7LRsSPxEGRwufOmU1Dde5omwZnSMwk6ejbdMY